:root {
  --color-background: #fdfbff;
  --color-white: #ffffff;
  --color-violet: #ad63ad;
  --color-yellow: #ffd903;
  --color-grey-1: #444444;
  --color-transparent-black: rgba(000,000,000,0.1);
}

html, body {
  margin: 0px;
  padding: 0px;
  background-color: var(--color-background);
  font-family: 'Open Sans', sans-serif;
}

/* HEADER */
header {
  padding: 20px;
  background-color: var(--color-white);
  box-shadow: 1px 3px 2px rgba(000,000,000,0.02);
}
.logo {
  height: 25px;
}

/* CONTENT */
section {
  margin: 30px 40px 0px 40px;
}

.page-title {
  font-weight: bold;
  font-size: 30px;
}
