:root {
  --vh-middle: calc(100vh/2);
}

.popup-container {
  position: fixed;
  background-color: var(--color-transparent-black);
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: none;
}

.popup-box {
  border-radius: 20px;
  box-shadow: 0.5px 0.5px 3px rgba(000,000,000,0.1);
  background-color: var(--color-white);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 350px;
}

.popup-logo {
  padding-top: 70px;
  text-align: center;
}

.popup-logo > img {
  width: 150px;
}

.popup-message {
  text-align: center;
  font-size: 30px;
  color: #333;
}
